.heading
{
    width: 100%;
    text-align: left;
}

.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid white;
}

.copy_right_footer
{
    background-color: black;
    font-color: white;
    display: inline-block;
}

.canvas
{
     border-radius: 50px;
     box-shadow: 5px 5px 5px white;
     border: 0px;
}